* {
  margin: 0;
  padding: 0; }

div {
  display: flex;
  flex-flow: column nowrap; }
  div header {
    background: #fdfdfd;
    position: sticky;
    top: 0; }
    div header div {
      background-color: white;
      display: flex;
      flex-flow: row nowrap;
      height: 150px;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      div header div div {
        flex: 1 1 auto;
        padding-left: 10px; }
      div header div nav a {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        text-decoration: none;
        padding: 0 10px;
        letter-spacing: 2px; }

div {
  display: flex;
  flex-flow: column nowrap; }
  div div {
    background: #FFEBC9;
    height: 150px; }
    div div h1 {
      width: 100%;
      color: #B05B3B;
      font-family: "Indie Flower", cursive;
      font-size: 50px;
      text-align: center;
      padding-top: 15px;
      animation-name: aparecer;
      animation-duration: 2s;
      animation-iteration-count: 2; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    div div h2 {
      width: 100%;
      color: D79771;
      font-family: "Indie Flower", cursive;
      font-size: 40px;
      text-align: center; }
  div main {
    background-image: url(../images/picadaBg.jpg);
    background-size: cover;
    display: flex;
    flex-flow: row nowrap;
    height: 900px;
    justify-content: space-around;
    align-items: center; }
  div #footer {
    background: linear-gradient(to left, #753422, #a74e36, #cf6345);
    height: auto;
    width: 100%; }
  div footer p {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    padding: 20px; }
  div footer span {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    div footer span p {
      width: 100px;
      color: black;
      font-family: 'Raleway', sans-serif;
      text-decoration: none;
      font-size: 25px;
      display: block; }
    div footer span a {
      width: 100px;
      color: black;
      font-family: 'Raleway', sans-serif;
      text-decoration: none;
      font-size: 25px;
      display: block; }

main {
  background-image: url(../images/picadaBg.jpg);
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  height: 900px;
  justify-content: space-around;
  align-items: center; }
  main h1 {
    width: 100%;
    color: #B05B3B;
    font-family: "Indie Flower", cursive;
    font-size: 50px;
    text-align: center;
    height: 100px; }
    main h1 div ol {
      list-style-type: none; }
      main h1 div ol li {
        font-family: 'Raleway', sans-serif;
        font-size: 30px; }
        main h1 div ol li ul li {
          font-family: 'Raleway', sans-serif;
          font-size: 20px; }
      main h1 div ol ol:hover {
        transform: scale(0.8, 0.8);
        transition: height 2s, width 1s; }

.menuUno {
  grid-area: menuUno; }

.menuDos {
  grid-area: menuDos; }

.menuTres {
  grid-area: menuTres; }

.menuCuatro {
  grid-area: menuCuatro; }

.menuCinco {
  grid-area: menuCinco; }

.menuSeis {
  grid-area: menuSeis; }

.menuSiete {
  grid-area: menuSiete; }
