@mixin  main($height , $display , $flexflow ){
    background-image: url(../images/picadaBg.jpg);
    background-size: cover;
    display: $display;
    flex-flow: $flexflow;
    height: $height;
    justify-content: space-around;
    align-items: center;
}

main{
    @include main(900px, flex, column nowrap);
            h1{
                @include titulos( 100% ,  #B05B3B , ('Indie Flower', cursive) , 50px , center );
                height:100px;
                 div{
                    ol{
                        list-style-type: none;
                          li{
                            font-family:'Raleway', sans-serif; 
                            font-size: 30px; 
                        ul {
                    li{
                    font-family:'Raleway', sans-serif; 
                    font-size: 20px;
                    }
                   }
                }
                ol:hover{
                    transform: scale(0.8,0.8);
                    transition: height 2s, width 1s;
                }
                
             }
            }
      }

}
.menuUno{
    grid-area: menuUno;

}

.menuDos{
    grid-area: menuDos;

}

.menuTres{
    grid-area: menuTres;
}

.menuCuatro{
grid-area: menuCuatro;
}

.menuCinco{
    grid-area: menuCinco;
}

.menuSeis{
    grid-area: menuSeis;
}

.menuSiete{
    grid-area: menuSiete;
}

